.flex-align {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50em;
  }
  
.align-center {
    max-width: 50%;
    align-self: center;
    text-align: center;
    font-weight: lighter;
  }
